
/* width */
::-webkit-scrollbar {
      width: 15px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px black;
      border-radius: 10px;
      background: black;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: slateblue;
      border-radius: 8px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: green;
      border-radius: 12px;
    }

    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 65px;
      transition-duration: 1s;


    }

    .button1 {
      background-color: green;
    }
    .button1:hover {
      background-color: slateblue;
      color: white;

    }

hr {
  height: 4px;
  border-width: 0;
  color: darkslateblue;
  background-color: darkslateblue;
}


.page{
  width: 90%; 
  margin: auto; 
  background-color: rgb(82, 82, 102);
  border-radius: 15px;
}

p {
  text-align: center;
}